<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsp.orders.OrdersMapper">
    <resultMap id="ordersResultMap" type="com.hsp.orders.Orders">
        <result column="ORDER_ID" property="order_id" />
        <result column="USER_ID" property="user_id" />
        <result column="ORDER_TYPE" property="order_type" />
        <result column="ORDER_DATE" property="order_date" />
        <result column="ORDER_STATUS" property="order_status" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="order_id != null and order_id != ''">
                AND ORDER_ID = #{order_id}
            </if>
            <if test="user_id != null and user_id != ''">
                AND USER_ID = #{user_id}
            </if>
            <if test="order_type != null and order_type != ''">
                AND ORDER_TYPE = #{order_type}
            </if>
            <if test="order_date != null and order_date != ''">
                AND ORDER_DATE = #{order_date}
            </if>
            <if test="order_status != null and order_status != ''">
                AND ORDER_STATUS = #{order_status}
            </if>
        </where>
    </sql>

    <select id="select" parameterType="com.hsp.orders.Orders" resultMap="ordersResultMap">
        SELECT
            	ORDER_ID,
            	USER_ID,
            	ORDER_TYPE,
            	ORDER_DATE,
            	ORDER_STATUS
        FROM ORDERS
        <include refid="whereSql" />
    </select>
    
    <select id="list" parameterType="com.hsp.orders.Orders" resultMap="ordersResultMap">
        SELECT
            	ORDER_ID,
            	USER_ID,
            	ORDER_TYPE,
            	ORDER_DATE,
            	ORDER_STATUS
        FROM ORDERS
        <include refid="whereSql" />
    </select>
    
    <select id="selectByChannelId" parameterType="String" resultMap="ordersResultMap">
    	SELECT DISTINCT(ORD.ORDER_ID)
		FROM PRODUCT P
		     , ORDER_DETAIL ORD
		WHERE (P.PRODUCT_ID = ORD.PRODUCT_ID)
		AND P.CHANNEL_ID = #{channel_id}
    </select>
    
	<update id="update" parameterType="com.hsp.orders.Orders">
        UPDATE ORDERS
        <set>
        	<if test="order_status != null and order_status != ''">
                ORDER_STATUS = #{order_status} ,
            </if>
        </set>
        WHERE ORDER_ID = '${order_id}'
    </update>
    
    <insert id="insert" parameterType="com.hsp.orders.Orders">
        INSERT INTO ORDERS (
            					ORDER_ID
            					, USER_ID
            					, ORDER_TYPE
            					, ORDER_DATE
            					, ORDER_STATUS
        ) VALUES (
            #{order_id}
            , #{user_id}
            , #{order_type}
            , #{order_date}
            , #{order_status}
        )
    </insert>
</mapper>