<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsp.orders.OrderDetailMapper">
    <resultMap id="orderDetailResultMap" type="com.hsp.orders.OrderDetail">
        <result column="ORDER_ID" property="order_id" />
        <result column="PRODUCT_ID" property="product_id" />
        <result column="PRODUCT_QTY" property="product_qty" />
        <result column="PRICE" property="price" />
        <result column="DISCOUNT" property="discount" />
        <result column="DELEVERY_STATUS" property="delevery_status" />
        <result column="TOTAL_PRICE" property="total_price" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="order_id != null and order_id != ''">
                AND ORDER_ID = #{order_id}
            </if>
            <if test="product_id != null and product_id != ''">
                AND PRODUCT_ID = #{product_id}
            </if>
            <if test="product_qty != null and product_qty != ''">
                AND PRODUCT_QTY = #{product_qty}
            </if>
            <if test="price != null and price != ''">
                AND PRICE = #{price}
            </if>
            <if test="discount != null and discount != ''">
                AND DISCOUNT = #{discount}
            </if>
            <if test="delevery_status != null and delevery_status != ''">
                AND DELEVERY_STATUS = #{delevery_status}
            </if>
            <if test="total_price != null and total_price != ''">
                AND TOTAL_PRICE = #{total_price}
            </if>
        </where>
    </sql>

    <select id="select" parameterType="com.hsp.orders.OrderDetail" resultMap="orderDetailResultMap">
        SELECT
            	ORDER_ID
            	, PRODUCT_ID
            	, PRODUCT_QTY
            	, PRICE
            	, DISCOUNT
            	, DELEVERY_STATUS
            	, TOTAL_PRICE
        FROM ORDER_DETAIL
        <include refid="whereSql" />
    </select>
    
    <select id="list" parameterType="com.hsp.orders.OrderDetail" resultMap="orderDetailResultMap">
        SELECT
            	ORDER_ID
            	, PRODUCT_ID
            	, PRODUCT_QTY
            	, PRICE
            	, DISCOUNT
            	, DELEVERY_STATUS
            	, TOTAL_PRICE
        FROM ORDER_DETAIL
        <include refid="whereSql" />
    </select>
    
    <select id="mostSelling" resultMap="orderDetailResultMap">
        SELECT 
        	PRODUCT_ID
		FROM ORDER_DETAIL
		GROUP BY PRODUCT_ID
		HAVING COUNT(*) = (SELECT MAX(MYCOUNT)
							FROM (SELECT PRODUCT_ID, COUNT(*) AS MYCOUNT
									FROM ORDER_DETAIL GROUP BY PRODUCT_ID) AS RESULT)
									LIMIT 1
    </select>
    
    <update id="statusUpdate" parameterType="com.hsp.orders.OrderDetail">
        UPDATE ORDER_DETAIL
        <set>
            <if test="delevery_status != null and delevery_status != ''">
                DELEVERY_STATUS = #{delevery_status}
            </if>
        </set>
        WHERE ORDER_ID = '${order_id}'
        AND PRODUCT_ID = '${product_id}'
    </update>
    
    <insert id="insert" parameterType="com.hsp.orders.OrderDetail">
        INSERT INTO ORDER_DETAIL (
            					ORDER_ID
            					, PRODUCT_ID
            					, PRODUCT_QTY
            					, PRICE
            					, DISCOUNT
            					, DELEVERY_STATUS
            					, TOTAL_PRICE
        ) VALUES (
            #{order_id}
            , #{product_id}
            , #{product_qty}
            , #{price}
            , #{discount}
            , #{delevery_status}
            , #{total_price}
        )
    </insert>
	
</mapper>