<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsp.review.ReviewMapper">
    <resultMap id="reviewResultMap" type="com.hsp.review.Review">
        <result column="REVIEW_ID" property="review_id" />
        <result column="ORDER_ID" property="order_id" />
        <result column="PRODUCT_ID" property="product_id" />
        <result column="PRODUCT_GRADE" property="product_grade" />
        <result column="REVIEW_TITLE" property="review_title" />
        <result column="REVIEW_CONTENT" property="review_content" />
        <result column="REVIEW_IMG" property="review_img" />
        <result column="REVIEW_DATE" property="review_date" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="review_id != null and review_id != ''">
                AND REVIEW_ID = #{review_id}
            </if>
            <if test="order_id != null and order_id != ''">
                AND ORDER_ID = #{order_id}
            </if>
            <if test="product_id != null and product_id != ''">
                AND PRODUCT_ID = #{product_id}
            </if>
            <if test="product_grade != null and product_grade != ''">
                AND PRODUCT_GRADE = #{product_grade}
            </if>
            <if test="review_title != null and review_title != ''">
                AND REVIEW_TITLE = #{review_title}
            </if>
            <if test="review_content != null and review_content != ''">
                AND REVIEW_CONTENT = #{review_content}
            </if>
            <if test="review_img != null and review_img != ''">
                AND REVIEW_IMG = #{review_img}
            </if>
            <if test="review_date != null and review_date != ''">
                AND REVIEW_DATE = #{review_date}
            </if>
        </where>
    </sql>

    <select id="list" parameterType="com.hsp.review.Review" resultMap="reviewResultMap">
        SELECT
            REVIEW_ID,
			ORDER_ID,
			PRODUCT_ID,
  			PRODUCT_GRADE,
  			REVIEW_TITLE,
  			REVIEW_CONTENT,
  			REVIEW_IMG,
  			REVIEW_DATE
        FROM REVIEW
            <include refid="whereSql" />
    </select>

    <select id="select" parameterType="com.hsp.review.Review" resultMap="reviewResultMap">
        SELECT
        	REVIEW_ID,
			ORDER_ID,
			PRODUCT_ID,
  			PRODUCT_GRADE,
  			REVIEW_TITLE,
  			REVIEW_CONTENT,
  			REVIEW_IMG,
  			REVIEW_DATE
        FROM REVIEW
        <include refid="whereSql" />
    </select>
    
    <select id="count" parameterType="com.hsp.review.Review" resultType="string">
        SELECT
        	count(*)
        FROM REVIEW
        <include refid="whereSql" />
    </select>
    
    <select id="highRate" parameterType="com.hsp.review.ReviewMapper" resultMap="reviewResultMap">
        SELECT
        	REVIEW_ID,
        	PRODUCT_ID,
        	ORDER_ID,
        	PRODUCT_GRADE,
        	REVIEW_TITLE,
        	REVIEW_CONTENT,
        	REVIEW_IMG
        FROM REVIEW
        HAVING MAX(PRODUCT_GRADE)
        LIMIT 1
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="com.hsp.review.Review">
        INSERT INTO REVIEW (
            REVIEW_ID,
			ORDER_ID,
			PRODUCT_ID,
  			PRODUCT_GRADE,
  			REVIEW_TITLE,
  			REVIEW_CONTENT,
  			REVIEW_IMG,
  			REVIEW_DATE
        ) VALUES (
            #{review_id},
            #{order_id},
            #{product_id},
            #{product_grade},
            #{review_title},
            #{review_content},
            #{review_img}
        )
    </insert>

    <update id="update" parameterType="com.hsp.review.Review">
        UPDATE REVIEW
        <set>
        	<if test="review_id != null">
                REVIEW_ID = #{review_id},
            </if>
            <if test="order_id != null">
                ORDER_ID = #{order_id},
            </if>
            <if test="product_id != null">
                PRODUCT_ID = #{product_id},
            </if>
            <if test="product_grade != 0">
                PRODUCT_GRADE = #{product_grade},
            </if>
            <if test="review_title != null">
                REVIEW_TITLE = #{review_title},
            </if>
            <if test="review_content != null">
                REVIEW_CONTENT = #{review_content},
            </if>
            <if test="review_img != null">
                REVIEW_IMG = #{review_img},
            </if>
        </set>
        <where>
        	REVIEW_ID = #{review_id}
        </where>
    </update>

    <delete id="delete" parameterType="com.hsp.review.Review">
        DELETE FROM REVIEW
        <include refid="whereSql" />
    </delete>
</mapper>