<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsp.product.ProductMapper">
    <resultMap id="productResultMap" type="com.hsp.product.Product">
        <result column="PRODUCT_ID" property="product_id" />
        <result column="CHANNEL_ID" property="channel_id" />
        <result column="PRODUCT_IMG" property="product_img" />
        <result column="PRODUCT_NAME" property="product_name" />
        <result column="PRODUCT_PRICE" property="product_price" />
        <result column="DISCOUNT" property="discount" />
        <result column="PRODUCT_DETAIL" property="product_detail" />
        <result column="ORDERABLE_CYCLE" property="orderable_cycle" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="product_id != null and product_id != ''">
                AND PRODUCT_ID = #{product_id}
            </if>
            <if test="channel_id != null and channel_id != ''">
                AND CHANNEL_ID = #{channel_id}
            </if>
            <if test="product_img != null and product_img != ''">
                AND PRODUCT_IMG = #{product_img}
            </if>
            <if test="product_name != null and product_name != ''">
                AND PRODUCT_NAME = #{product_name}
            </if>
            <if test="product_price != null and product_price != ''">
                AND PRODUCT_PRICE = #{product_price}
            </if>
            <if test="discount != null and discount != ''">
                AND DISCOUNT = #{discount}
            </if>
            <if test="product_detail != null and product_detail != ''">
                AND PRODUCT_DETAIL = #{product_detail}
            </if>
            <if test="orderable_cycle != null and orderable_cycle != ''">
                AND ORDERABLE_CYCLE = #{orderable_cycle}
            </if>
        </where>
    </sql>

    <select id="select" parameterType="com.hsp.product.Product" resultMap="productResultMap">
        SELECT
            	PRODUCT_ID
            	, CHANNEL_ID
            	, PRODUCT_IMG
            	, PRODUCT_NAME
            	, PRODUCT_PRICE
            	, DISCOUNT
            	, PRODUCT_DETAIL
            	, ORDERABLE_CYCLE
        FROM PRODUCT
        <include refid="whereSql" />
    </select>
    
    <select id="sellingList" resultMap="productResultMap">
        SELECT 
        	P.PRODUCT_ID
        	, P.CHANNEL_ID
        	, P.PRODUCT_IMG
        	, P.PRODUCT_NAME
        	, P.PRODUCT_PRICE
        	, P.DISCOUNT
        	, P.PRODUCT_DETAIL
        	, P.ORDERABLE_CYCLE
		FROM 
			ORDER_DETAIL ORD
			, PRODUCT P
		WHERE (ORD.PRODUCT_ID = P.PRODUCT_ID)
		GROUP BY ORD.PRODUCT_ID
		ORDER BY COUNT(ORD.PRODUCT_ID) DESC
		LIMIT 5
    </select>
    
    <select id="list" parameterType="com.hsp.product.Product" resultMap="productResultMap">
        SELECT
            	PRODUCT_ID
            	, CHANNEL_ID
            	, PRODUCT_IMG
            	, PRODUCT_NAME
            	, PRODUCT_PRICE
            	, DISCOUNT
            	, PRODUCT_DETAIL
            	, ORDERABLE_CYCLE
        FROM PRODUCT
        <include refid="whereSql" />
    </select>
    
    <insert id="insert" parameterType="com.hsp.product.Product">
        INSERT INTO PRODUCT (
            					PRODUCT_ID
            					, CHANNEL_ID
            					, PRODUCT_IMG
            					, PRODUCT_NAME
            					, PRODUCT_PRICE
            					, DISCOUNT
            					, PRODUCT_DETAIL
            					, ORDERABLE_CYCLE
        ) VALUES (
            #{product_id}
            , #{channel_id}
            , #{product_img}
            , #{product_name}
            , #{product_price}
            , #{discount}
            , #{product_detail}
            , #{orderable_cycle}
        )
    </insert>
    
    <update id="update" parameterType="com.hsp.product.Product">
        UPDATE PRODUCT
        <set>
            <if test="product_img != ''">
                PRODUCT_IMG = #{product_img},
            </if>
            <if test="product_name != ''">
                PRODUCT_NAME = #{product_name},
            </if>
            <if test="product_price != ''">
                PRODUCT_PRICE = #{product_price},
            </if>
            <if test="discount != ''">
                DISCOUNT = #{discount},
            </if>
            <if test="product_detail != ''">
                PRODUCT_DETAIL = #{product_detail},
            </if>
        </set>
        WHERE PRODUCT_ID = #{product_id}
    </update>

</mapper>