<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsp.channel.ChannelMapper">
    <resultMap id="channelResultMap" type="com.hsp.channel.Channel">
        <result column="CHANNEL_ID" property="channel_id" />
        <result column="USER_ID" property="user_id" />
        <result column="CHANNEL_NAME" property="channel_name" />
        <result column="CATEGORY" property="category" />
        <result column="INTRODUCTION" property="introduction" />
        <result column="DELIVERY_FEE" property="delivery_fee" />
        <result column="BUSINESS_NO" property="business_no" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="channel_id != null and channel_id != ''">
                AND CHANNEL_ID = #{channel_id}
            </if>
            <if test="user_id != null and user_id != ''">
                AND USER_ID = #{user_id}
            </if>
            <if test="channel_name != null and channel_name != ''">
                AND CHANNEL_NAME = #{channel_name}
            </if>
            <if test="category != null and category != ''">
                AND CATEGORY = #{category}
            </if>
            <if test="introduction != null and introduction != ''">
                AND INTRODUCTION = #{introduction}
            </if>
            <if test="delivery_fee != null and delivery_fee != ''">
                AND DELIVERY_FEE = #{delivery_fee}
            </if>
            <if test="business_no != null and business_no != ''">
                AND BUSINESS_NO = #{business_no}
            </if>
        </where>
    </sql>
    
    <select id="select" parameterType="com.hsp.channel.ChannelMapper" resultMap="channelResultMap">
        SELECT
        	CHANNEL_ID,
			USER_ID,
			CHANNEL_NAME,
  			CATEGORY,
  			INTRODUCTION,
  			DELIVERY_FEE,
  			BUSINESS_NO
        FROM CHANNEL
        <include refid="whereSql" />
    </select>

    <select id="list" resultMap="channelResultMap">
        SELECT
        	CHANNEL_ID,
			USER_ID,
			CHANNEL_NAME,
  			CATEGORY,
  			INTRODUCTION,
  			DELIVERY_FEE,
  			BUSINESS_NO
        FROM CHANNEL
    </select>
    
</mapper>