<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsp.channel.ChannelMapper">
    <resultMap id="channelResultMap" type="com.hsp.channel.Channel">
        <result column="CHANNEL_ID" property="channel_id" />
        <result column="USER_ID" property="user_id" />
        <result column="CHANNEL_NAME" property="channel_name" />
        <result column="CHANNEL_IMG" property="channel_img" />
        <result column="CATEGORY" property="category" />
        <result column="INTRODUCTION" property="introduction" />
        <result column="BUSINESS_NO" property="business_no" />
        <result column="BANK_NAME" property="bank_name" />
        <result column="ACCOUNT" property="account" />
        <result column="AUTH_CODE" property="auth_code" />
        <result column="ACCESS_TOKEN" property="access_token" />
        <result column="REFRESH_TOKEN" property="refresh_token" />
        <result column="USER_SEQ_NO" property="user_seq_no" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="channel_id != null and channel_id != ''">
                AND CHANNEL_ID = #{channel_id}
            </if>
            <if test="user_id != null and user_id != ''">
                AND USER_ID = #{user_id}
            </if>
            <if test="channel_name != null and channel_name != ''">
                AND CHANNEL_NAME = #{channel_name}
            </if>
            <if test="channel_img != null and channel_img != ''">
                AND CHANNEL_IMG = #{channel_img}
            </if>
            <if test="category != null and category != ''">
                AND CATEGORY = #{category}
            </if>
            <if test="introduction != null and introduction != ''">
                AND INTRODUCTION = #{introduction}
            </if>
            <if test="business_no != null and business_no != ''">
                AND BUSINESS_NO = #{business_no}
            </if>
            <if test="bank_name != null and bank_name != ''">
                AND BANK_NAME = #{bank_name}
            </if>
            <if test="account != null and account != ''">
                AND ACCOUNT = #{account}
            </if>
            <if test="auth_code != null and auth_code != ''">
                AND AUTH_CODE = #{auth_code}
            </if>
            <if test="access_token != null and access_token != ''">
                AND ACCESS_TOKEN = #{access_token}
            </if>
            <if test="refresh_token != null and refresh_token != ''">
                AND REFRESH_TOKEN = #{refresh_token}
            </if>
            <if test="user_seq_no != null and user_seq_no != ''">
                AND USER_SEQ_NO = #{user_seq_no}
            </if>
        </where>
    </sql>
    
    <insert id="insert" parameterType="com.hsp.channel.Channel">
        INSERT INTO CHANNEL (
            CHANNEL_ID,
            USER_ID,
            CHANNEL_NAME,
            CHANNEL_IMG,
            CATEGORY,
            INTRODUCTION,
            BUSINESS_NO,
            BANK_NAME,
            ACCOUNT,
            AUTH_CODE,
            ACCESS_TOKEN,
            REFRESH_TOKEN,
            USER_SEQ_NO
            
        ) VALUES (
            #{channel_id},
            #{user_id},
            #{channel_name},
            #{channel_img},
            #{category},
            #{introduction},
            #{business_no},
            #{bank_name},
            #{account},
            #{auth_code},
            #{access_token},
            #{refresh_token},
            #{user_seq_no}
        )
    </insert>

    <update id="update" parameterType="com.hsp.channel.Channel">
        UPDATE CHANNEL
        <set>
            <if test="channel_name != null and channel_name != ''">
                CHANNEL_NAME = #{channel_name},
            </if>
            <if test="channel_img != null and channel_img != ''">
                AND CHANNEL_IMG = #{channel_img}
            </if>
            <if test="category != null and category != ''">
                CATEGORY = #{category},
            </if>
            <if test="introduction != null and introduction != ''">
                INTRODUCTION = #{introduction},
            </if>
            <if test="business_no != null and business_no != ''">
                BUSINESS_NO = #{business_no},
            </if>
            <if test="bank_name != null and bank_name != ''">
                BANK_NAME = #{bank_name},
            </if>
            <if test="account != null and account != ''">
                ACCOUNT = #{account},
            </if>
            <if test="auth_code != null and auth_code != ''">
                AUTH_CODE = #{auth_code},
            </if>
            <if test="access_token != null and access_token != ''">
                ACCESS_TOKEN = #{access_token},
            </if>
            <if test="refresh_token != null and refresh_token != ''">
                REFRESH_TOKEN = #{refresh_token},
            </if>
            <if test="user_seq_no != null and user_seq_no != ''">
                USER_SEQ_NO = #{user_seq_no},
            </if>
        </set>
        <where>
	        <if test="user_id != ''">
	        		USER_ID = #{user_id}
	       	</if>
       	</where>
    </update>

    <delete id="delete" parameterType="com.hsp.channel.Channel">
        DELETE FROM CHANNEL
        <include refid="whereSql" />
    </delete>
    
    <select id="select" parameterType="com.hsp.channel.Channel" resultMap="channelResultMap">
        SELECT
        	CHANNEL_ID,
            USER_ID,
            CHANNEL_NAME,
            CHANNEL_IMG,
            CATEGORY,
            INTRODUCTION,
            BUSINESS_NO,
            BANK_NAME,
            ACCOUNT,
            AUTH_CODE,
            ACCESS_TOKEN,
            REFRESH_TOKEN,
            USER_SEQ_NO
        FROM CHANNEL
        <include refid="whereSql" />
    </select>

    <select id="list" resultMap="channelResultMap">
        SELECT
        	CHANNEL_ID,
            USER_ID,
            CHANNEL_NAME,
            CHANNEL_IMG,
            CATEGORY,
            INTRODUCTION,
            BUSINESS_NO,
            BANK_NAME,
            ACCOUNT,
            AUTH_CODE,
            ACCESS_TOKEN,
            REFRESH_TOKEN,
            USER_SEQ_NO
        FROM CHANNEL
    </select>
    
    <select id="topChannel" resultMap="channelResultMap">
    	SELECT C.CHANNEL_ID
      			, C.USER_ID
        		, C.CHANNEL_NAME
        		, C.CHANNEL_IMG
        		, C.CATEGORY
        		, C.INTRODUCTION
        		, C.BUSINESS_NO
		
		FROM 
   			CHANNEL C
    		, SUBSCRIBE S
		WHERE (C.CHANNEL_ID = S.CHANNEL_ID)
		GROUP BY S.CHANNEL_ID
		ORDER BY COUNT(S.CHANNEL_ID) DESC
		LIMIT 5
    </select>
    
    <select id="selectByProductId" parameterType="String" resultMap="channelResultMap">
    	SELECT CHANNEL.*
		FROM CHANNEL,
		     PRODUCT
		WHERE PRODUCT.PRODUCT_ID = #{product_id}
		AND PRODUCT.CHANNEL_ID = CHANNEL.CHANNEL_ID
    </select>
    
    <select id="sumMonthProfit" parameterType="String" resultType="String">
    	SELECT SUM(ORD.TOTAL_PRICE)
		FROM ORDER_DETAIL ORD
 	 		, PRODUCT P
     		, ORDERS O
		WHERE (ORD.PRODUCT_ID = P.PRODUCT_ID)
		AND (ORD.ORDER_ID = O.ORDER_ID)
		AND P.CHANNEL_ID = #{channel_id}
		AND date_format(O.ORDER_DATE, '%Y-%m-%d') between '2021-06-01' and date_format(now(), '%Y-%m-%d')
    </select>
    
</mapper>