<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsp.community.CommunityMapper">
    <resultMap id="communityResultMap" type="com.hsp.community.Community">
        <result column="COMMUNITY_ID" property="community_id" />
        <result column="CHANNEL_ID" property="channel_id" />
        <result column="COMMUNITY_TITLE" property="community_title" />
        <result column="COMMUNITY_CONTENT" property="community_content" />
        <result column="REGIT_DATE" property="regit_date" />
        <result column="MEDIAFILE" property="mediafile" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="community_id != null and community_id != ''">
                AND COMMUNITY_ID = #{community_id}
            </if>
            <if test="channel_id != null and channel_id != ''">
                AND CHANNEL_ID = #{channel_id}
            </if>
            <if test="community_title != null and community_title != ''">
                AND COMMUNITY_TITLE = #{community_title}
            </if>
            <if test="community_content != null and community_content != ''">
                AND COMMUNITY_CONTENT = #{community_content}
            </if>
            <if test="regit_date != null and regit_date != ''">
                AND REGIT_DATE = #{regit_date}
            </if>
            <if test="mediafile != null and mediafile != ''">
                AND MEDIAFILE = #{mediafile}
            </if>
        </where>
    </sql>

    <select id="select" parameterType="com.hsp.community.Community" resultMap="communityResultMap">
        SELECT
            	COMMUNITY_ID,
            	CHANNEL_ID,
            	COMMUNITY_TITLE,
            	COMMUNITY_CONTENT,
            	REGIT_DATE,
            	MEDIAFILE
        FROM COMMUNITY
        <include refid="whereSql" />
    </select>

	<select id="list" parameterType="com.hsp.community.Community" resultMap="communityResultMap">
        SELECT
            	COMMUNITY_ID,
            	CHANNEL_ID,
            	COMMUNITY_TITLE,
            	COMMUNITY_CONTENT,
            	REGIT_DATE,
            	MEDIAFILE
        FROM COMMUNITY
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="com.hsp.community.Community">
        INSERT INTO COMMUNITY (
            COMMUNITY_ID,
			CHANNEL_ID,
			COMMUNITY_TITLE,
  			COMMUNITY_CONTENT,
  			REGIT_DATE,
  			MEDIAFILE
        ) VALUES (
            #{community_id},
            #{channel_id},
            #{community_title},
            #{community_content},
            #{regit_date},
            #{mediafile}
        )
    </insert>

    <update id="update" parameterType="com.hsp.community.Community">
        UPDATE COMMUNITY
        <set>
        	<if test="community_id != null">
                COMMUNITY_ID = #{community_id},
            </if>
            <if test="channel_id != null">
                CHANNEL_ID = #{channel_id},
            </if>
            <if test="community_title != null">
                COMMUNITY_TITLE = #{community_title},
            </if>
            <if test="community_content != null">
                COMMUNITY_CONTENT = #{community_content},
            </if>
            <if test="regit_date != null">
                REGIT_DATE = #{regit_date},
            </if>
            <if test="mediafile != null">
                MEDIAFILE = #{mediafile},
            </if>
        </set>
        <where>
        	COMMUNITY_ID = #{community_id}
        	AND  CHANNEL_ID = #{channel_id}
        </where>
    </update>

    <delete id="delete" parameterType="com.hsp.community.Community">
        DELETE FROM COMMUNITY
        <where>
        	COMMUNITY_ID = #{community_id}
        	AND  CHANNEL_ID = #{channel_id}
        </where>
        <include refid="whereSql" />
    </delete>
    
</mapper>